html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E0A1A1;

    ;
}

#main-rectangle {
    max-width: 972px;
    min-height: 506px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: white;

}

#inner-rect2 {
    display: flex;
    width: 486px;
    height: 506px;
    flex-direction: column;
    align-items: center;
    padding: 40px 46px;
    gap: 13px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    text-align: center;
}

#heading {
    font-family: 'Fanwood Text', serif;
    font-size: 48px;

}

#name {
    font-family: 'Klee One', cursive;
    font-size: 48px;

}

#price {
    font-family: 'Julee', cursive;
    font-size: 30px;

}

#description {
    font-family: 'Allison', cursive;
    font-size: 64px;
    line-height: 1.2;

}

button {
    font-family: 'Kiwi Maru', serif;
    width: 212px;
    height: 41px;
    background-color: #E0A1A1;
    ;
}

button:hover {
    background-color: white;
}

@media (max-width: 972px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    #main-rectangle {
        width: 70%;
        height: 90%;
        flex-direction: column;
        min-height: auto;
    }

    #inner-rect1 {
        height: 50%;
        width: 100%;


    }

    #inner-rect2 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0
    }

    #inner-rect1 img {
        object-fit: cover;
        object-position: center;
        display: block;
        width: 100%;
    }

    #heading {
        font-size: 32px;
    }

    #name {
        font-size: 32px;
    }

    #description {
        font-size: 36px;
    }

    #price {
        font-size: 24px;
    }
}